@page
@model eExploreKL.Pages.LogoutModel
@{
    ViewData["Title"] = "Logging out...";
}

<div class="container pt-5 mt-5 text-center">
    <h2>Logging out...</h2>
    <p>You are being redirected to the login page.</p>
</div>